<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css/styles.css">

    <title><%= title; %></title>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent d-flex align-items-center">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">
                <img src="img/logo.png" alt="TWICE API" width="48">
            </a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link h4 mt-3" href="https://github.com/AdhyWiranto44/twice-api-server"><i class="fab fa-github"></i> Visit repo</a>
                <a class="nav-link h4 mt-3" href="http://www.adhywiranto.xyz/"><i class="fas fa-globe"></i> Visit my website</a>
            </div>
          </div>
        </div>
    </nav>

    <div class="container border-bottom pb-4">
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <img src="img/logo.png" alt="TWICE API" width="100">
                <h1 class="display-3 mt-3 fw-bold"><%= title; %></h1>
            </div>
            <div class="col-md-12 text-center">
                <p class="text-secondary h5">Get TWICE data such as members' profile and album information</p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
          <div class="col-md-6">
              <div class="card mb-3 shadow-sm">
                  <div class="card-header">
                    <h5 class="fw-bold mb-0">URLs</h5>
                  </div>
                  <div class="card-body bg-light">
                    <ul>
                      <li><a href="/api/all">All data</a></li>
                      <li><a href="/api/members">Members</a></li>
                      <li><a href="/api/discography">Discography</a></li>
                      <li><a href="/api/discography/korean">Discography (Korean Releases)</a></li>
                      <li><a href="/api/discography/japanese">Discography (Japanese Releases)</a></li>
                      <li><a href="/api/discography/english">Discography (English Releases)</a></li>
                      <li><a href="/api/sources">Sources</a></li>
                    </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card mb-3 shadow-sm">
                  <div class="card-header">
                      <h5 class="fw-bold mb-0">Endpoints</h5>
                  </div>
                  <div class="card-body bg-light">
                    <ul>
                      <li><b>All Data</b> <code>=></code> /api/all/</li>
                      <li><b>Members</b> <code>=></code> /api/members/</li>
                      <li><b>Discography (All)</b> <code>=></code> /api/discography/</li>
                      <li><b>Discography (Korean)</b> <code>=></code> /api/discography/korean/</li>
                      <li><b>Discography (Japanese)</b> <code>=></code> /api/discography/japanese/</li>
                      <li><b>Discography (English)</b> <code>=></code> /api/discography/english/</li>
                      <li><b>Sumber</b> <code>=></code> /api/sources/</li>
                    </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-3 shadow-sm">
                <div class="card-header">
                  <h5 class="fw-bold mb-0">Cara install</h5>
                </div>
                <div class="card-body bg-light">
                  <h6 class="fw-bold"># Clone repo ini</h6>
                  <code>git clone https://github.com/AdhyWiranto44/twice-api-server.git</code>

                  <h6 class="fw-bold mt-3"># Install modules</h6>
                  <code>npm install</code>

                  <h6 class="fw-bold mt-3"># Jalankan</h6>
                  <code>npm start</code>
                </div>
            </div>
          </div>
        </div>
    </div>

  <!-- Footer -->
  <footer id="footer" class="mt-3 bg-transparent">
    <div class="container">
        <div class="row pt-3 border-top">
            <div class="col-md text-center text-md-left pb-3">
                <small>Made with &#10084; By Adhy Wiranto. <%= currentDate %></small>
            </div>
        </div>
    </div>
</footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWICE API Server</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

        body {
            font-family: "Montserrat";
            background: -webkit-linear-gradient(right, #EB8038, #F284FE);
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>TWICE API Server</h1>
    <p>get TWICE data such as members' profile and album information</p>

    <ul>
        <li><a href="/api/all">All data</a></li>
        <li><a href="/api/members">Members</a></li>
        <li><a href="/api/discography">Discography</a></li>
        <li><a href="/api/discography/korean">Discography (Korean Releases)</a></li>
        <li><a href="/api/discography/japanese">Discography (Japanese Releases)</a></li>
        <li><a href="/api/discography/english">Discography (English Releases)</a></li>
        <li><a href="/api/sources">Sources</a></li>
    </ul>
</body>
</html> -->